@charset "utf-8"
@import "node_modules/bulma/bulma.sass"

$primary-color: #8538b8
$secondary-color: #316cc6
$gray-color: #bcc3ce
$success-color: #39b497

.bg-blue
  background-color: #2FE0FF
  box-shadow: 0 2px 2px #2fe0ffcc, 0 2px 2px #0c0c0c99


 
@import "node_modules/spectre.css/src/spectre"

/* #39B497
 #AD97AE
 #4A184B
 #1E0A1E
 
@import 'Auth'
@import 'general'
