

\:root
  --titles: #1E0A1E
  --light: #AD97AE
  --gray: #bcc3ce
  --secondary: #4718b1
body, html
  padding: 0
  margin: 0

h1, h2
  color: var(--titles)
.my-0
  margin-top: 0 
  margin-bottom: 0 

form
  text-align: left

*
  box-sizing: border-box
main 
  min-height: 100vh
  height: 100vh
  max-height: 100vh
  overflow: hidden
  > section
    position: relative
    height: 100%
    min-height: 100%
    max-height: 100%
    display:ol
header.top_title
  width: 80%
  align-items: center
  &.right

  button
aside.main_info
  width: 50%
  height: 100%
  float: left
  padding-top: 2rem
  background: #F6F6F6
  display: flex
  flex-direction: column
  &.left
    border-right: 2px solid #0000001c
  &.right
    align-items: flex-end
  > section
    width: 70%
    text-align: left
    &.panel
      height: 75vh
      border: none
      scrollbar-width: none
      &::-webkit-scrollbar 
        display: none
        width: 2px
      &::-webkit-scrollbar-thumb 
        background: transparent


    ul
      margin-top: 2.6em
      scrollbar-width: none
      &::-webkit-scrollbar 
        display: none
        width: 2px
      &::-webkit-scrollbar-thumb 
        background: transparent
    li
      margin-bottom: 1.6em
      cursor: pointer
aside.blinds
  background-color: #cfcfcf


.panel-body ul
  scrollbar-width: none
  color: red
  max-height: 60vh
  overflow-y: auto
  &::-webkit-scrollbar 
    display: none
    width: 2px
  &::-webkit-scrollbar-thumb 
    background: transparent


  span[contenteditable="true"]
    border-bottom: 2px solid white



.modalx
  position: fixed
  width: 40vw
  top: 20%
  z-index: 1
